.initiative {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.initiative-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.initiative-item img {
  width: 45%;
  border-radius: 1rem;
}

h1, .title {
  color: #273b24;
}
.title{
  font-size: x-large;
  padding-bottom: 2rem;
}

.big{
  font-size: xx-large;
}
