.project-card {
  grid-column: auto;
  grid-row: 2;
  min-height: 22.75rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  transition: all ease-in-out 0.25s;
}

.project-card img {
  width: 8rem;
  margin: 0 auto 0.5rem auto;
  border-radius: 50%;
}

.project-card h4 {
  margin: 0 auto 1rem auto;
}

.project-card span {
  color: #ffa500;
}

.project-card:hover {
  transition: all ease-in-out 0.25s;
  scale: 1.1;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 949px) {
.project-card {
  grid-column: auto;
  grid-row: auto;
}
}
