.achievments {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1.25rem;
}

.achievments-header {
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1.875rem;
}

.achievments-header h2 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
  font-size: 2.5rem;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 960px) {
.achievments {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.achievments-header {
  grid-column: 1 / 3;
}
}

@media (max-width: 692px) {
.achievments {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.achievments-header {
  grid-column: 1 / 2;
}
}
